@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h5 class="display-9">Hello from the extended</h5>

    <h1 class="display-4">QL4BIM Server for EIMC</h1>
    <p>Learn about <a href="https://www.cms.bgu.tum.de/en/17-research-projects/121-spatio-temporal-query-language-for-verifying-and-analyzing-4d-building-information-models">QL4BIM</a>.</p>
</div>
