

header {
  width: 100%;
}

h1 {
  width: 400px;
  position: relative;
  margin: 0 auto;
  color: #fff;
  font-size: 1.8em;
  line-height: 2.4em;
}

.blockly-editor {
  margin: auto;
  width: 50%;
  background-color: #eee;
}
